@rendermode RenderMode.InteractiveServer
@page "/signup"

<div class="w-screen h-screen flex justify-center items-center">
    <div class=" w-[60%] sm:w-[50%] md:w-[40%] lg:w-[28%] rounded-[0.8rem] px-4 py-5 border border-gray-300 font-serif">
        <h2 class=" text-2xl text-[#5577FF] font-semibold text-center">Sign up</h2>
        <form action="#" method="post" class="relative flex flex-col gap-2 mt-5">
            <div class="flex flex-col gap-2">
                <label for="fullName">Full Name:</label>
                <input type="text" id="fullName" name="fullName" class="outline-none border py-1 px-3 rounded-lg"
                    required />
            </div>

            <div class="flex flex-col gap-2">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" class="outline-none border py-1 px-3 rounded-lg"
                    required />
            </div>

            <div class="flex flex-col gap-2">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" class="outline-none border py-1 px-3 rounded-lg"
                    required />
            </div>

            <div class="flex flex-col">
                <label for="password">Password:</label>
                <div class="border rounded-lg flex ">
                    <input type="@PasswordType" id="password" name="password"
                        class="outline-none py-1 pl-3 w-[88%] rounded-lg" required />
                    <EyeIcon ShowPassword="@ShowPassword" IconStyles=" mt-1" HandlePasswordType="@HandlePasswordType" />
                </div>
                
            </div>

            <div class="flex flex-col">
                <label for="ConfirmPassword">Confirm Password:</label>
                <div class="border rounded-lg flex ">
                    <input type="@ConfirmPasswordType" id="ConfirmPassword" name="ConfirmPassword"
                        class="outline-none py-1 pl-3 w-[88%] rounded-lg" required />
                    <EyeIcon ShowPassword="@ShowConfirmPassword" IconStyles="mt-1" HandlePasswordType="@HandleConfirmPasswordType" />
                </div>
                
            </div>

            <button class="bg-[#5577FF] text-[1rem] text-white py-2 mt-1 w-[100%] rounded-lg" onclick="gotohome()"
                type="submit">
                Sign up
            </button>
        </form>

                @* external-auth *@
        <div class="border border-gray-300 w-[100%] py-2  rounded-lg flex justify-center items-center gap-7 my-4 cursor-pointer">
            <svg class="w-4" viewBox="-3 0 262 262" version="1.1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" fill="#000000">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <g>
                        <path
                            d="M255.878,133.451 C255.878,122.717 255.007,114.884 253.122,106.761 L130.55,106.761 L130.55,155.209 L202.497,155.209 C201.047,167.249 193.214,185.381 175.807,197.565 L175.563,199.187 L214.318,229.21 L217.003,229.478 C241.662,206.704 255.878,173.196 255.878,133.451"
                            fill="#4285F4"> </path>
                        <path
                            d="M130.55,261.1 C165.798,261.1 195.389,249.495 217.003,229.478 L175.807,197.565 C164.783,205.253 149.987,210.62 130.55,210.62 C96.027,210.62 66.726,187.847 56.281,156.37 L54.75,156.5 L14.452,187.687 L13.925,189.152 C35.393,231.798 79.49,261.1 130.55,261.1"
                            fill="#34A853"> </path>
                        <path
                            d="M56.281,156.37 C53.525,148.247 51.93,139.543 51.93,130.55 C51.93,121.556 53.525,112.853 56.136,104.73 L56.063,103 L15.26,71.312 L13.925,71.947 C5.077,89.644 0,109.517 0,130.55 C0,151.583 5.077,171.455 13.925,189.152 L56.281,156.37"
                            fill="#FBBC05"> </path>
                        <path
                            d="M130.55,50.479 C155.064,50.479 171.6,61.068 181.029,69.917 L217.873,33.943 C195.245,12.91 165.798,0 130.55,0 C79.49,0 35.393,29.301 13.925,71.947 L56.136,104.73 C66.726,73.253 96.027,50.479 130.55,50.479"
                            fill="#EB4335"> </path>
                    </g>
                </g>
            </svg>
            <p class=" text-sm">Sign up with google</p>

        </div>

        @* sign up *@
        <div class=" text-xs text-center">
            Already have an account? <a href="/login" class="text-[#5577FF]">Log in </a>
        </div>
    </div>
</div>

@code {
    private string PasswordType { get; set;} = "password";
    private string ConfirmPasswordType { get; set;} = "password";
    private bool ShowPassword { get; set;} = false;
    private bool ShowConfirmPassword { get; set;} = false;

     private void HandlePasswordType() 
    {

        ShowPassword = !ShowPassword;
        if (ShowPassword)
        {
            PasswordType = "text";
        }
        else 
        {
            PasswordType = "password";
        }
        
        
    }

    private void HandleConfirmPasswordType() 
    {
        ShowConfirmPassword  = !ShowConfirmPassword ;
        if (ShowConfirmPassword )
        {
            ConfirmPasswordType = "text";
        }
        else 
        {
           ConfirmPasswordType = "password";
        }
    }

}